@font-face {
    font-family: 'sulsanstest-bold-webfont';
    src: url('./data/fonts/SulSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'sulsanstest-light-webfont';
    src: url('./data/fonts/SulSans-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'sulsanstest-regular-webfont';
    src: url('./data/fonts/SulSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'sulsanstest-medium-webfont';
    src: url('./data/fonts/SulSans-Medium.woff2') format('woff2');
}

.link-button {
    background: none;
    border: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    font-family: 'sulsanstest-regular-webfont', sans-serif;
}

.form-container {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    max-height: calc(100vh - 100px);
}

.form-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#logo a:hover {
    text-decoration: underline;
}

#options {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 50000000000000000000;
}

#div1,
#div2,
#div3 {
    width: calc(100% / 3);
}

#div2 .section-text {
    font-family: 'sulsanstest-bold-webfont', sans-serif;
    margin-bottom: 20px;
}

#div3 .section-text {
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-arrow {
    transition: transform 0.2s ease-out;
    transform: rotate(90deg);
}

.dropdown-arrow.open {
    transform: rotate(270deg);
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.dropdown-content.show {
    max-height: 500px;
}

.dropdown-content.show p {
    margin-bottom: 5px;
}



input:invalid {
    border: 1px solid red;
}

.error-container hr {
    border-color: red;
    border-width: 1px;
}

.error-title {
    font-family: 'sulsanstest-bold-webfont', sans-serif;
    color: red;
    margin-bottom: 5px;
}

.error-message {
    font-family: 'sulsanstest-light-webfont', sans-serif;
    color: red;
    margin: 0px;
}

input.red-placeholder::placeholder {
    color: red;
}

select option {
    color: black;
}

#menu-layers {
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    z-index: 500;
}

label {
    display: inline;
}

#map-container {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 30px;
}

#map {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

#map * {
    cursor: pointer;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

#upload-link {
    color: black;
}

.section-title {
    font-family: 'sulsanstest-bold-webfont', sans-serif;
    min-width: 35%;
    margin-bottom: 20px;
}

.section-title1 {
    font-family: 'sulsanstest-bold-webfont', sans-serif;
    min-width: calc(100%/3);
    margin-bottom: 20px;
}

.column-1,
.column-2,
.column-3 {
    width: 30%;
}

.column-3 {
    text-align: right;
}

.column-1 {
    text-align: center;
}
a{
    color: inherit;
}
#enviar {
    color: black;
}

.big-author-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.big-mail-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    justify-content: space-between !important;
}

.big-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-drop-down {
    margin: 0px 0;
    font-family: 'sulsanstest-bold-webfont', sans-serif;
}


#logo {
    position: inline-block;
    z-index: 4;
    padding: 10px;
    margin: 10px;
    width: 50%;
}

#logo p {
    padding: 0;
    margin: 0;
}

.form-input-subsection {
    display: flex;
    flex-direction: row;
    width: 100%;

}

form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.image-input-section {
    width: 30%
}

.info-input-section {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.input-container {
    width: 100%;
    position: relative;
}

.author-input-container {
    width: 30%;
    position: relative;
}

.mail-input-container {
    width: 30%;
    position: relative;
}

.mensagem-input-container {
    width: 100%;
    position: relative;
}

.page-title {
    font-family: 'sulsanstest-bold-webfont', sans-serif;
}


* {
    font-family: 'sulsanstest-light-webfont', sans-serif;
}

.form-section {
    width: 100%;
}

.input-container input:focus,
.author-input-container input:focus,
.mail-input-container input:focus,
.mensagem-input-container {
    outline: none;
}

.form-container input {
    position: relative;
}

.form-section label {
    position: relative;
    top: -1em;
    left: 0;

}

.form-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: flex-end;
}

.input-container label,
.author-input-container label,
.mail-input-container label,
.mensagem-input-container label {
    position: absolute;
    top: -1.05em;
    left: 0;
    font-size: 10px;
    color: #808080;

}

.input-container input,
.author-input-container input,
.mail-input-container input {
    border: none;
    border-bottom: 1px solid black;
    width: 98%
}

.mensagem-input-container input {
    border: none;
    border-bottom: 1px solid black;
    width: 99%
}

.big-mail-input-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.form-tab {
    width: 20%;
    padding: 0 20px;
}

.form-section {

    display: flex;
    flex-wrap: wrap;
}

.form-subsection {
    width: 100%;

}

.form-info-subsection {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}


.form-info-subsection * {
    margin: 0;
}

hr {
    width: 100%;
}

#preview-container {
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#preview {
    max-width: 100%;
    max-height: 100%;
}

#preview-container,
#preview-text {
    cursor: pointer;
}

#mapa,
#galeria,
#filtros {
    position: relative;
    height: 100vh;
    width: calc(100%/3);
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.tabs {
    display: flex;
    align-self: flex-end;
    margin-left: auto;
    width: 10%;
    cursor: pointer;
}

#body-container {
    width: 90%;
    background-color: white;
    box-shadow: -5px 0px 24px 0px rgba(0, 0, 0, 0.4);
    z-index: 7;
}

#form-container {
    overflow-y: scroll;
}

.tab-title {
    font-family: 'sulsanstest-bold-webfont', sans-serif;
    font-size: 12pt;
    writing-mode: tb;
    transform: rotate(-180deg);
    margin-bottom: 20px;
    z-index: 200;
}



#mapa {
    box-shadow: -5px 0px 24px 0px rgba(0, 0, 0, 0.4);
    z-index: 6;
}

#galeria {
    box-shadow: -5px 0px 24px 0px rgba(0, 0, 0, 0.4);
    background-color: #E5E5E5;
    z-index: 5;
}

#filtros {

    z-index: 4;
    background-color: #D9D9D9;
}

#mapa2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}



.form-input-subsection select {
    margin-left: -2px;
    border: none;
    border-bottom: 1px solid black;
    width: 98%;
    outline: none;
    background-color: transparent;
    width: 100%;
}

.form-input-subsection select:focus {
    outline: none;
}

.form-input-subsection select::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: black;
}

.form-input-subsection option {
    background-color: transparent;
}

#upload-link {
    visibility: hidden;
}

.layer-icon {
    width: 20px;
    height: 20px;
}

.layer-icon.selected {
    display: none;
}

#menu-layers img {
    cursor: pointer;
}

#burger {

    display: none;

}

.bold {
    font-family: 'sulsanstest-bold-webfont', sans-serif;
}

/****************** MOBILE */
@media screen and (max-width: 480px) {

    #burger {
        display: block;
        width: 35px;
        height: 35px;
        z-index: 2000000;
        position: fixed;
        right: 20px;
        top: 15px;
    }

    body {
        overflow: scroll;
    }

    #body-container,
    .section-title,
    .page-title,
    .big-container,
    .form-tab,
    .form-container {
        width: 100%;

    }

    .column-2 {
        margin-top: 40px
    }

    .form-container {
        padding: 20px;
    }

    .form-info-subsection {
        display: flex;
        flex-direction: column;
    }

    .section-title {
        margin-bottom: 10px;
    }

    .tabs {
        display: none;
    }

    .form-section,
    form {
        display: flex;
        flex-direction: column;

    }

    .column-1,
    .column-2,
    .column-3 {
        width: 100%
    }

}