.mail-input-container-2-columns {
    min-width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.mail-input-container-2-columns input {
    width: calc(50% - 7.5px);
    /* Adjusted width to accommodate margin */
}

.mail-input-container textarea {
    font-family: 'Brockmann Regular';
    background-color: #F2F1ED;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
    resize: none;
    overflow: hidden;
    /* Hide any overflow */
    transition: height 0.2s;
    /* Smooth transition for height change */
}

.mail-input-container {
    display: flex;
    /* Use flexbox for layout */
    flex-direction: column;
    /* Stack elements vertically */
}

.form-info-subsection {
    display: flex;
    /* Use flexbox for layout */
    flex-direction: column;
    /* Stack elements vertically */
}

.form-info-subsection textarea {
    flex-grow: 1;
    /* Let the textarea expand to fill available space */
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.column {
    width: calc(100% / 3);
}

form {
    width: calc(2 * 100% / 3);
}

#content {
    min-width: 75vw;
}

.section-title1 {
    font-family: 'Brockmann Bold';
    font-size: 60pt;
}

#enviar {
    font-family: 'Brockmann Regular';
    text-decoration: underline;
    float: right;
    /* Align to the right */
    margin-top: 10px;
    /* Add margin for spacing */
}

input {
    font-family: 'Brockmann Regular';
    background-color: #F2F1ED;
    border: none;
    border-bottom: 1px solid black;
    /* Added border bottom */
    outline: none;
    /* Remove focus outline */
    width: 100%;
    padding: 5px 0;
    /* Adjusted padding for better alignment */
    margin-bottom: 10px;
    /* Added margin for spacing */
}

.mail-input-container-2-columns input:first-child {
    margin-right: 15px;
    /* Add margin between Name and Email */
}

#small-caps {
    text-transform: uppercase;
    font-family: 'Brockmann Regular';
    font-size: 8pt;
    margin: 0;
}

a {
    text-decoration: underline !important;
}

.column p {
    margin: 0px;
}

#contact-container{
    display: flex;
    height: calc(100vh - 56px - 20px);
    flex-direction: column;
    justify-content: space-between;
}
#contact-info{
    margin-top: auto;
}