@font-face {
    font-family: 'Brockmann Bold';
    src: url('../data/webfontkit/brockmann-bold-webfont.eot');
    src: url('../data/webfontkit/brockmann-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../data/webfontkit/brockmann-bold-webfont.woff2') format('woff2'),
        url('../data/webfontkit/brockmann-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Brockmann Bold Serif';
    src: url('../data/webfontkit/brockmann-bold-serif-webfont.eot');
    src: url('../data/webfontkit/brockmann-bold-serif-webfont.eot?#iefix') format('embedded-opentype'),
        url('../data/webfontkit/brockmann-bold-serif-webfont.woff2') format('woff2'),
        url('../data/webfontkit/brockmann-bold-serif-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Brockmann Medium';
    src: url('../data/webfontkit/brockmann-medium-webfont.eot');
    src: url('../data/webfontkit/brockmann-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../data/webfontkit/brockmann-medium-webfont.woff2') format('woff2'),
        url('../data/webfontkit/brockmann-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Brockmann Medium Serif';
    src: url('../data/webfontkit/brockmann-medium-serif-webfont.eot');
    src: url('../data/webfontkit/brockmann-medium-serif-webfont.eot?#iefix') format('embedded-opentype'),
        url('../data/webfontkit/brockmann-medium-serif-webfont.woff2') format('woff2'),
        url('../data/webfontkit/brockmann-medium-serif-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Brockmann Regular';
    src: url('../data/webfontkit/brockmann-regular-webfont.eot');
    src: url('../data/webfontkit/brockmann-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../data/webfontkit/brockmann-regular-webfont.woff2') format('woff2'),
        url('../data/webfontkit/brockmann-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Brockmann Regular Serif';
    src: url('../data/webfontkit/brockmann-regular-serif-webfont.eot');
    src: url('../data/webfontkit/brockmann-regular-serif-webfont.eot?#iefix') format('embedded-opentype'),
        url('../data/webfontkit/brockmann-regular-serif-webfont.woff2') format('woff2'),
        url('../data/webfontkit/brockmann-regular-serif-webfont.woff') format('woff');
}

h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

#header {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-section{
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;

}
.column-1{
    width: 50%;
}
.column-2{
    width: 50%;
}

.info{
    margin-bottom: 10px;
}
.media-container {
    max-width: 100%;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
}
.description{
    margin:0;
}
#bold {
    font-family: 'Brockmann Bold';

}

#small-caps {
    text-transform: uppercase;
    font-family: 'Brockmann Regular';
    font-size: 8pt;
    margin: 0;
}

#bold-small {
    font-family: 'Brockmann Bold';
    font-size: 8pt;
}

#bold-serif {
    font-family: 'Brockmann Bold Serif', sans-serif;
}

#medium {
    font-family: 'Brockmann Medium', sans-serif;
}

#medium-serif {
    font-family: 'Brockmann Medium Serif', sans-serif;
}

#regular {
    font-family: 'Brockmann Regular', sans-serif;
}

#regular-small {
    font-family: 'Brockmann Regular', sans-serif;
    font-size: 8pt;
}

#regular-serif {
    font-family: 'Brockmann Regular Serif', sans-serif;
}

body {
    background-color: #F2F1ED;
    display: flex;
    padding: 0;
    margin: 0;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: 100vh;
}

#content {
    max-width: 70vw;
    max-height: 100vh;
}

#logo {
    margin: 20px;
    margin-bottom: auto;
}

#nav-bar-links {
    display: block;
    max-width: fit-content;
    margin: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    /* Add margin to push navbar links to the bottom */
}

#nav-bar-content {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
}

#galeria {
    width: 100%;
    position: relative;
    overflow: auto;
    max-height: calc(100vh - 30px);
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    margin: 0;
    padding: 0;
    height: auto;
    align-content: flex-start;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

}

*{
    scrollbar-width: none;
}

#galeria::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#results {
    width: 100%;
    background-color: #F2F1ED;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: auto;
    align-content: flex-start;

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: calc(100%/3);
    transition: width 0.2s ease;
}

.two-images-per-row {
    width: calc(100% / 2);
}

.image-container:hover {
    cursor: pointer;
}


.image-container img {
    flex-shrink: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.image-container img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 1s;
}

.object-image-container img {
    flex-shrink: 0;
    max-width: 100%;

}

.gallery-image {
    flex-shrink: 0;
    max-width: 100%;
}

#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F2F1ED;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

#loader {
    z-index: 10000;
}

#filtros {
    padding-left: 20px;

}

/* Hide the checkboxes */
input[type="checkbox"] {
    display: none;
}

/* Style the labels */
label {

    display: inline-block;
    /* Make labels behave as block elements */
    text-decoration: none;
    /* Remove default underline */
}

/* Style the labels for checked checkboxes */
input[type="checkbox"]:checked+label {
    text-decoration: underline;
    /* Underline the label */
}

#search {
    border: none;
    /* Remove border */
    background: none;
    padding: 0;
    /* Remove background */
}

#search:focus {
    outline: none;
    /* Remove the default blue outline */
}

#search::-webkit-search-cancel-button {
    display: none;
    /* Hide the cancel button */
}

#toggleFilters {
    border: none;
    background: none;
    font-size: 8pt;
    text-align: left;
    font-family: 'Brockmann Regular', sans-serif;
    padding: 0;
    margin-left: 20px;
    /* Add margin to separate filters from logo */
    text-decoration: none;
    /* Remove underline from link */
    color: inherit;
    /* Inherit color from parent */
}


#filtros {
    /* Your existing CSS properties */
    display: none;
    /* Initially hide the filters */
    transition: all 0.3s ease;
    /* Add transition effect for all properties */
}