@font-face {
  font-family: 'Brockmann Bold';
  src: url('../data/webfontkit/brockmann-bold-webfont.eot');
  src: url('../data/webfontkit/brockmann-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../data/webfontkit/brockmann-bold-webfont.woff2') format('woff2'),
    url('../data/webfontkit/brockmann-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Brockmann Bold Serif';
  src: url('../data/webfontkit/brockmann-bold-serif-webfont.eot');
  src: url('../data/webfontkit/brockmann-bold-serif-webfont.eot?#iefix') format('embedded-opentype'),
    url('../data/webfontkit/brockmann-bold-serif-webfont.woff2') format('woff2'),
    url('../data/webfontkit/brockmann-bold-serif-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Brockmann Medium';
  src: url('../data/webfontkit/brockmann-medium-webfont.eot');
  src: url('../data/webfontkit/brockmann-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../data/webfontkit/brockmann-medium-webfont.woff2') format('woff2'),
    url('../data/webfontkit/brockmann-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Brockmann Medium Serif';
  src: url('../data/webfontkit/brockmann-medium-serif-webfont.eot');
  src: url('../data/webfontkit/brockmann-medium-serif-webfont.eot?#iefix') format('embedded-opentype'),
    url('../data/webfontkit/brockmann-medium-serif-webfont.woff2') format('woff2'),
    url('../data/webfontkit/brockmann-medium-serif-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Brockmann Regular';
  src: url('../data/webfontkit/brockmann-regular-webfont.eot');
  src: url('../data/webfontkit/brockmann-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../data/webfontkit/brockmann-regular-webfont.woff2') format('woff2'),
    url('../data/webfontkit/brockmann-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Brockmann Regular Serif';
  src: url('../data/webfontkit/brockmann-regular-serif-webfont.eot');
  src: url('../data/webfontkit/brockmann-regular-serif-webfont.eot?#iefix') format('embedded-opentype'),
    url('../data/webfontkit/brockmann-regular-serif-webfont.woff2') format('woff2'),
    url('../data/webfontkit/brockmann-regular-serif-webfont.woff') format('woff');
}

body {
  background-color: #F2F1ED;
  transition: 0.3s ease-out;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}

section:not(#sectionPin) {

  min-height: calc(100vh - 30px);
  width: 75%;
  position: relative;
  display: flex;

  justify-content: space-around;
  /* Adjust as needed */
  align-items: center;
  flex-wrap: wrap;
  /* Allow items to wrap if necessary */
  padding: 50px 10vw;
  margin-left: 25vw;
}

/* Other CSS remains unchanged */


.header1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1rem;
  position: absolute;
  top: 10vw;
  left: 0;
  z-index: 4;
}

@media (max-width: 768px) {
  h1 {
    font-size: 16vw;
  }
}

.header1 span {
  display: block;

}

.header2 {
  font-size: 2rem;
width:25vw;
}

.credit {
  font-family: Termina, sans-serif;
}

.credit a {
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

section {
  display: flex;
}

#sectionPin {
  height: 100vh;
  min-width: fit-content;
  display: flex;
  left: 0;
  background: var(--text-color);
  color: var(--bg-color);
}

.pin-wrap {
  
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}


.pin-wrap>* {
  box-sizing: border-box;

}

.paragraph {
  position: absolute;
  bottom: 10vw;
  right: 10vw;
  width: 200px;
  line-height: 1.5;
}





#bold {
  font-family: 'Brockmann Bold';

}

#small-bold {
  font-family: 'Brockmann Bold';
  font-size: 12pt;
}

#small-caps {
  text-transform: uppercase;
  font-family: 'Brockmann Regular';
  font-size: 8pt;
}

#bold-serif {
  font-family: 'Brockmann Bold Serif', sans-serif;
}

#medium {
  font-family: 'Brockmann Medium', sans-serif;
}

#medium-serif {
  font-family: 'Brockmann Medium Serif', sans-serif;
  font-size: 8pt;
}

#regular {
  font-family: 'Brockmann Regular', sans-serif;
}

#small-regular {
  font-family: 'Brockmann Regular', sans-serif;
  font-size: 8pt;
}

#regular-serif {
  font-family: 'Brockmann Regular Serif', sans-serif;
}

body {
  background-color: #F2F1ED;
  display: flex;
  padding: 0;
  margin: 0;
}

#nav-bar {
  position: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
  height: 100vh;
  z-index: 500;
  mix-blend-mode: difference;
}



#empty {
  display: flex;
  height: 100vh;
  min-width:25vw;
}

#content {
  width: 100vw;

}

#scroll-content {
  max-height: 100vh;
  overflow: auto;
}

#featuredResults {
  display: flex;
  flex-direction: row;
  min-width: 451.1009870918755vw; 
  max-height: 100vh;
}


#sectionPin {

  min-width: fit-content;

}
#header {
  margin-left: 25vw;
  padding: 20px 0;
  width: 75vw;
  mix-blend-mode: difference;
}

#header p{
  color: white;
}

#banner{
  mix-blend-mode: difference;

}

#banner h1{
  color: white;
}

#logo {
  margin: 20px;
  margin-bottom: auto;
}

#nav-bar-links {
  display: block;
  max-width: fit-content;
  margin-top: auto;
  margin: 20px;
}



#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F2F1ED;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 10000;
  justify-content: center;
  align-items: center;
}

#loader {
  z-index: 10000;
}


.featured-info-item {
  display: flex;
  padding-left: 15px;

}


.featuredPost {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.image-container {
  height: 70vh;
  max-width: 75vw;
  display: flex;
  align-items: center;
}

.imagem, .gallery-video{
  max-height: 100%;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/4791474/pexels-photo-4791474.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#background-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure the video is behind other elements */
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire background */
  transition: opacity 0.5s ease;
}


.post-info{
  padding-left: 5px;
padding-top: 15px;
}

.post-info h3{
  padding-bottom: 5px;
  }

