@font-face {
    font-family: 'Brockmann Bold';
    src: url('../data/webfontkit/brockmann-bold-webfont.eot');
    src: url('../data/webfontkit/brockmann-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/webfontkit/brockmann-bold-webfont.woff2') format('woff2'),
         url('../data/webfontkit/brockmann-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Brockmann Bold Serif';
    src: url('../data/webfontkit/brockmann-bold-serif-webfont.eot');
    src: url('../data/webfontkit/brockmann-bold-serif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/webfontkit/brockmann-bold-serif-webfont.woff2') format('woff2'),
         url('../data/webfontkit/brockmann-bold-serif-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Brockmann Medium';
    src: url('../data/webfontkit/brockmann-medium-webfont.eot');
    src: url('../data/webfontkit/brockmann-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/webfontkit/brockmann-medium-webfont.woff2') format('woff2'),
         url('../data/webfontkit/brockmann-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Brockmann Medium Serif';
    src: url('../data/webfontkit/brockmann-medium-serif-webfont.eot');
    src: url('../data/webfontkit/brockmann-medium-serif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/webfontkit/brockmann-medium-serif-webfont.woff2') format('woff2'),
         url('../data/webfontkit/brockmann-medium-serif-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Brockmann Regular';
    src: url('../data/webfontkit/brockmann-regular-webfont.eot');
    src: url('../data/webfontkit/brockmann-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/webfontkit/brockmann-regular-webfont.woff2') format('woff2'),
         url('../data/webfontkit/brockmann-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Brockmann Regular Serif';
    src: url('../data/webfontkit/brockmann-regular-serif-webfont.eot');
    src: url('../data/webfontkit/brockmann-regular-serif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/webfontkit/brockmann-regular-serif-webfont.woff2') format('woff2'),
         url('../data/webfontkit/brockmann-regular-serif-webfont.woff') format('woff');
}


#bold {
    font-family: 'Brockmann Bold';
    
}

#bold-serif {
    font-family: 'Brockmann Bold Serif', sans-serif;
}

#medium {
    font-family: 'Brockmann Medium', sans-serif;
}

#medium-serif {
    font-family: 'Brockmann Medium Serif', sans-serif;
}

#regular {
    font-family: 'Brockmann Regular', sans-serif;
}

#regular-serif {
    font-family: 'Brockmann Regular Serif', sans-serif;
}

body {
    background-color: #F2F1ED;
    display: flex;
    padding: 0;
    margin: 0;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: 100vh;
}

#content{
    width:75vw;
    overflow: auto;
    min-height: 1000vh;
}

#logo {
    margin: 20px;
    margin-bottom: auto; 
}

#nav-bar-links {
    display: block;
    max-width: fit-content;
    margin-top: auto; 
    margin: 20px; 
}

#galeria {
    width: 100%;
    position: relative;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    margin: 0;
    height: auto;
    align-content: flex-start;
}

#results {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    height: auto;
    align-content: flex-start;

}

.gallery-image {
    flex-shrink: 0;
    max-width: 100%;
}